@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  font-size: 16px;
  --sizeXs: 0.5rem;
  --sizeSm: calc(var(--sizeXs) * 1.5);
  --sizeMd: calc(var(--sizeSm) * 1.5);
  --sizeMdL: calc(var(--sizeSm) * 1.25);
  --sizeLg: calc(var(--sizeMd) * 1.5);
  --sizeXl: calc(var(--sizeLg) * 1.5);
  --sizeXXl: calc(var(--sizeXl) * 1.5);
}

/* CSS Reset for all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* FOR MOBILE SCREENS */

@media screen and (max-width: 601px) {

body>*,
.intro,
.intro > *,
section,
article,
.projects,
.projects > *,
section .projectsList > *,
.projectsItem > *,
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

body {
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

// HEADER

.intro {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro h1 {
  font-size: var(--sizeXXl);
  padding: var(--sizeXXl);
  max-width: 100%;
}

.intro p {
  position: relative;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--sizeLg);
  width: 80%;
  padding: var(--sizeMdL);
  padding-bottom: var(--sizeXXl);
  color: #000;
}

.intro p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 2px;
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 8px dotted #64dfdf;
  /* border-bottom: 2px solid #5390d9; */
}

.intro p:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 4px solid #48bfe3;
  transition: all 1s ease-in-out;
}

/* Animations*/

#name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;
  /* -webkit-filter: drop-shadow(2px 1px 0px black);*/
  /* -webkit-text-stroke: 1px rgb(7, 7, 7);  */

  background-clip: text;
  background-image: url("/assets/img/candy-983094_1280.jpg");
  background-image: url("/assets/img/universe-4609408_1920.jpg");
  background-size: 120%;
  background-repeat: repeat;
  color: transparent;
  animation: nameAnimation 15s linear infinite backwards;
}

#occupation {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;
  /*-webkit-text-stroke: 1px rgb(7, 7, 7);*/

  background-clip: text;
  background-image: url("/assets/img/code-3637299_1280.jpg");
  background-image: url("/assets/img/code-3477973_1280.jpg");

  background-size: contain;
  background-repeat: repeat;
  color: transparent;
  animation: occupationAnimation 10s ease-in-out infinite;
}

#occupation-web,
#occupation-development {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;
  /*-webkit-text-stroke: 1px rgb(7, 7, 7);*/

  background-clip: text;
  background-image: url("/assets/img/code-3637299_1280.jpg");
  background-image: url("/assets/img/code-3477973_1280.jpg");

  background-size: var(--sizeXXl);
  background-repeat: repeat;
  color: transparent;
}

#occupation-web {
  animation: occupationAnimation 50s linear infinite;
}

#occupation-development {
  background-image: url("/assets/img/moon-1527501.jpg");
  background-size: contain;
  animation: occupationAnimation 140s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes occupationAnimation {
  0%,
  100% {
    background-position: left bottom;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: right top;
  }
  75% {
    background-position: left bottom;
  }
}

@keyframes nameAnimation {
  0% {
    background-size: 120%;
  }
  25% {
    background-size: 150%;
  }
  50% {
    background-size: 250%;
  }
  75% {
    background-size: 350%;
  }

  100% {
    background-size: 400%;
  }
}

// MAIN

// PROJECTS

.projectsList >*  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectsList .projectsItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  clip-path: polygon(
    36% 10%,
    20% 70%,
    80% 90%,
    80% 5%,
    90% 0%,
    80% 5%,
    36% 10%
  );
  overflow: hidden;
}
.projectsList .projectsItem img:hover {
  /* transform: scale(1.1); */
  transition: all 0.5s ease-in-out;

  filter: grayscale(100%) opacity(0.5) contrast(200%);
}


.projectsTitle {
  font-size: var(--sizeMd);
  background-size: contain;
  font-weight: 600;
  margin-bottom: var(--sizeMd);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sizeMd);
  margin: 0 auto;
}
.buttonGroup button {
  width: 30%;
  border-radius: 5px;
  padding: var(--sizeSm);
  font-size: var(--sizeMd);
  background: white;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.buttonGroup button:hover {
  border-radius: 2px;
background: #ffffff;
box-shadow:  inset 3px 3px 8px #666666,
inset -3px -3px 8px #ffffff;
}


section h1 {
  font-size: var(--sizeXXl);
  text-align: center;
  padding: var(--sizeXl);
  /* background-image: url("/assets/img/moon-1527501.jpg"); */
  background-size: contain;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: black;
  background-size: contain;
  background-repeat: repeat;
  color: transparent;
}

.text {
  transition: transform 1s ease-in-out; /* Add transition for smooth effect */
}

.text:hover {
  transform: skewX(20deg) skewX(270deg); /* Change shape on hover */
}

// Sandbox

.sandbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.sandboxItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  gap-var(--sizeXl);
}

.sandboxItem > * {
  gap: var(--sizeXXl);
}

.sandboxItem h3 {
  margin-top: 15px;
}

.sandboxItem form {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sizeMd);
}

.sandboxItem form input {

  padding: var(--sizeMd);
  width: 100%;
  font-size: var(--sizeSm);
  border: 3px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.sandboxItem p {
  margin-top: 15px;
}

.sandboxItem button {
  padding: var(--sizeMd);
  width: 100%;
  font-size: var(--sizeSm);
  border: 1px solid #0061FF;
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-weight: 900;
  cursor: pointer;

  background: hsla(217, 100%, 50%, 1);

  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);;}

  // Reasons
section.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--sizeMd); 
}

.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--sizeMd); 
}


.reasons>h1>span {
font-size: var(--sizeLg);
font-weight: 800;
}
.reasons > ol {
  padding: var(--sizeMd);
}

.reasons > ol > li {
  list-style-type: decimal;
  list-style-position: inside;
  padding: var(--sizeMd);
  font-size: var(--sizeMd);
  text-align: left;
  color: black;
}


// Social Media

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social > ul > li {
  list-style: none;
}

.social img {
  width: var(--sizeXXl);
  filter: grayscale(80%), contrast(200%);
  padding: var(--sizeXs);
}
}

/* FOR DESCTOP SCREENS */

@media screen and (min-width: 601px) {

 body > *,
 header > *,
.intro,
.intro > *,
section,
article, {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

  body {
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

// HEADER

header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro h1 {
  width: 60%;
  margin: 0 auto;
  font-size: var(--sizeXXl);
  padding: var(--sizeXXl);
  text-align: center;

}

.intro p {
  position: relative;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
  font-size: var(--sizeLg);
  padding: var(--sizeMdL);
  padding-bottom: var(--sizeXXl);
  color: #000;
  width: 80%;
}

.intro p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 20%;
  height: 2px;
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 8px dotted #64dfdf;
  /* border-bottom: 2px solid #5390d9; */
}

.intro p:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  margin: 0 auto;
  margin-top: 6rem;
  border-bottom: 4px solid #48bfe3;
  transition: all 1s ease-in-out;
}

/* Animations*/

#name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 120%;
  background-repeat: repeat;
  animation: nameAnimation 15s linear infinite backwards;
  background-image: var(--background-image);
}

#occupation {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;

  background-clip: text;
  background-image: url("/assets/img/code-3637299_1280.jpg");
  background-image: url("/assets/img/code-3477973_1280.jpg");

  background-size: contain;
  background-repeat: repeat;
  color: transparent;
  animation: occupationAnimation 10s ease-in-out infinite;
}

#occupation-web,
#occupation-development {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-background-clip: text;

  background-clip: text;
  background-image: url("/assets/img/code-3637299_1280.jpg");
  background-image: url("/assets/img/code-3477973_1280.jpg");

  background-size: var(--sizeXXl);
  background-repeat: repeat;
  color: transparent;
}

#occupation-web {
  animation: occupationAnimation 50s linear infinite;
}

#occupation-development {
  background-image: url("/assets/img/moon-1527501.jpg");
  background-size: contain;
  animation: occupationAnimation 140s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes occupationAnimation {
  0%,
  100% {
    background-position: left bottom;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: right top;
  }
  75% {
    background-position: left bottom;
  }
}

@keyframes nameAnimation {
  0% {
    background-size: 120%;
  }
  25% {
    background-size: 150%;
  }
  50% {
    background-size: 250%;
  }
  75% {
    background-size: 350%;
  }

  100% {
    background-size: 400%;
  }
}

// MAIN

// PROJECTS
.projects {
  display: flex;
  flex-direction: column;
}

.projectsList  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sizeSm);
}

.projectsItem img {
  height: auto;
  object-fit: cover;
  position: relative;
  clip-path: polygon(
    36% 10%,
    20% 70%,
    80% 90%,
    80% 5%,
    90% 0%,
    80% 5%,
    36% 10%
  );
  overflow: hidden;
}

.projectsItem img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(100%) opacity(0.5) contrast(200%);
}

.projectsTitle {
  font-size: var(--sizeMd);
  background-size: contain;
  font-weight: 600;
  margin-bottom: var(--sizeMd);
} 

// Project Buttons

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.buttonGroup > button {
  width: 30%;
  border-radius: 5px;
  padding: var(--sizeSm);
  font-size: var(--sizeMd);
  background: white;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}

.buttonGroup > button:hover {
  border-radius: 2px;
background: #ffffff;
box-shadow:  inset 3px 3px 8px #666666,
inset -3px -3px 8px #ffffff;
}

section h1 {
  font-size: var(--sizeXXl);
  padding: var(--sizeXl);
  background-size: contain;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  background-color: black;
  background-size: contain;
  background-repeat: repeat;
  color: transparent;
}

.text {
  transition: transform 1s ease-in-out; 
}

.text:hover {
  transform: skewX(20deg) skewX(270deg); 
}

// Sandbox

.sandbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.sandboxItem {
  display: flex;
  width: 40%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  gap-var(--sizeXl);
}

.sandboxItem > * {
  gap: var(--sizeXXl);
  width:60%;
}

.sandboxItem h3 {
  margin-top: 15px;
}

.sandboxItem form {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sizeMd);
}

.sandboxItem form input {

  padding: var(--sizeMd);
  width: 100%;
  font-size: var(--sizeSm);
  border: 3px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.sandboxItem p {
  margin-top: 15px;
}

.sandboxItem button {
  padding: var(--sizeMd);
  width: 100%;
  font-size: var(--sizeSm);
  border: 1px solid #0061FF;
  border-radius: 5px;
  text-align: center;
  color: #000;
  font-weight: 900;
  cursor: pointer;

  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);;}

// Reasons
section.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--sizeMd); 
  width:60%;
}

.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: var(--sizeMd); 
}

.reasons>h1>span {
font-size: var(--sizeLg);
font-weight: 800;
}

.reasons>h2 {
  width:40%;
}

.reasons > ol {
  width:60%;
}

.reasons > ol > li {
  list-style-type: decimal;
  list-style-position: inside;
  padding: var(--sizeMd);
  font-size: var(--sizeMd);
  text-align: left;
  color: black;

}




// Social Media

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social > ul > li {
  list-style: none;
}

.social img {
  width: var(--sizeXXl);
  filter: grayscale(80%), contrast(200%);
  padding: var(--sizeXs);
}
}